body {
    margin: 0;
    font-family: Arial;
    background: #f8f8f8;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
    text-align: center;
}

.box:hover {
    background: linear-gradient(to right, #2196f3, #21cbf3);
    color: white;
}

@media(max-width:600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}